.event {
  min-height: calc(100vh - 65px);
}

.events-header {
  display: grid;
  place-items: center;
  margin-bottom: 3rem;
  margin-top: -2rem;
}

h1 {
  font-family: "Montserrat";
}

.event-image {
  height: 12rem !important;
  width: 12rem !important;
  border: 0.1rem solid white;
  border-radius: 6rem;
  transition: background-color 0.2s ease;
  margin: 3rem 0;
}

.event-image:hover {
  background-color: #ffffff33;
}

.subtext {
  text-align: center !important;
  margin-bottom: 1rem;
}

.sponsor {
  margin-top: 2rem;
}

.round-speaker {
  /* padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px; */
  max-height: 135px;
  max-width: 135px;
  margin-top: 15px;
  border-radius: 50%;
  border-style: solid;
  border-color: aliceblue;
  border-width: 2px;
}

.daily {
  transition: background-color 0.2s ease;
}
.daily:hover {
  background-color: #ffffff33;
}
