.head {
  text-align: center;
}
.logo {
  height: 80vh;
  width: 100vh;
}

.btn {
  font-size: 30px;
  margin-top: 5rem;
  padding-bottom: 3.5rem;
}
h1 {
  color: whitesmoke;
}
.speakers {
  margin: 5% 0%;
}
@media screen and (max-width: 480px) {
  .logo {
    height: auto;
    width: 100%;
  }
}
